/* background textures courtesy of http://subtlepatterns.com/ */
body {
  font-family: 'Nunito', sans-serif;
  color: #FFFFFF;
  background: #000000 url('img/bg-texture-large.jpg') repeat;
}

#logo {
  float: left;
}

a {
  color: #B4C34F;
  text-decoration: none;
}

a:hover {
  background-color: #FFFFFF;
}

h1 {
  font-size: 1.750em;
  font-size: 2.5vw;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 1.500em;
  color: #B4C34F;
}

.btn {
  color: #B4C34F;
  background: #666666;
  padding: 15px 30px;
  margin: 40px 0px;
  border-radius: 25px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #FFFFFF;
}

.nav {
  margin: 60px 0 0 0;
  list-style: none;
  float: left;

}

.nav li {
  float: left;
  margin-right: 40px;
}

.nav li a {
  color: #B4C34F;
}

#intro {
  margin: 0px 0 0px 0;
  text-align: center;
}

#nature-pictures img {
  border: 8px solid #666666;
  margin: 0 0 20px 0;
}

#funny-pictures img {
  border: 8px solid #666666;
  margin: 0 0 20px 0;
}

#art-pictures img {
  border: 8px solid #666666;
  margin: 0 0 20px 0;
}

#quick-summary img {
  border: 8px solid #666666;
}

#copyright {
  border-top: 8px solid #666666;
  padding: 10px 0px;
  margin: 15px 0px;
  text-align: center;
}

img {
  max-width: 100%;
}

/*media queries*/

/* Medium Resolution ----------- */
@media screen and (max-width: 1024px) {
  #intro {
    width: 100%; 
  }
  #intro-img {
    display: none;
  }
  #intro h1 {
    margin:  0 0 5% 0;
  }
  #logo {
    width: 20%;
    text-align: center;
  }
  #logo img {
    max-width: 20%;
  }
  #nav {
    width: 100%;
  }
  #nav ul {
    margin: 0;
  }

  #nav ul li {
    float: left;
    margin: 5% 0 0 0;
    }
  #nav ul li.about {
    width: 15%;
  }
  #nav ul li.pricing {
    width: 35%;
  }
  #nav ul li.locations {
    width: 25%;
  }
  #nav ul li.contact {
    width: 25%;
    margin: 5% 0 2% 0;
  }
}


/* Smaller Resolution ----------- */
@media screen and (max-width : 650px) {
  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12 {
    width:100%;
  }
  #logo img {
    max-width: 100%;
  }
  #nav ul {
    margin: 5% 0;
  }

  #nav ul li a {
    -webkit-user-select: none;
    font-size: 0.750em;
  }

  #nav ul li {
    float: left;
    margin: 5% 0;
    }
  #nav ul  li.about {
    width: 20%;
    text-align: left;
  }
  #nav ul  li.pricing {
    width: 55%;
    text-align: center;
  }
  #nav ul  li.locations {
    width: 25%;
    text-align: right;
  }
  #nav ul  li.contact {
    width: 100%;
    margin: 0;
    font-size: 1em;
  }
  #intro, #about {
    display: none;
  }
  #featured-cupcake, #new-cupcakes {
    margin: 5% 0;
  }
}